<nav class="navbar navbar-expand-lg navbar-dark bg-dark animated-up navbar-sticky">
    <a class="navbar-brand animated-up navbar-sticky" href="#">
      <img src="/images/logo.png" alt="" class="logo animated-up" href="/index.html">
      <!-- logo do site -->
    </a>
    <button class="navbar-toggler animated-up navbar-sticky" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon animated-up navbar-sticky"></span>
    </button>
    <div class="collapse navbar-collapse animated-up navbar-sticky" id="navbarNav">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Procurar" aria-label="Procurar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
            </form>
          </li>
      </ul> -->
      <ul class="navbar-nav ml-auto animated-up navbar-sticky">
        <li class="nav-item animated-up navbar-sticky">
          <a class="nav-link animated-up navbar-sticky" href="#">Explore</a>
        </li>
        <li class="nav-item animated-up">
          <a class="nav-link animated-up" href="/signin/signin">Sign In</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Join</a>
        </li> -->
        <a href="/users/login">
            <button class="btn btn-outline-success my-2 my-sm-0 animated-up navbar-sticky" type="submit" >Join</button>
        </a>
      </ul>
    </div>
  </nav>