<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<main class="container animated-up">

  <section class="row">
    <div class="col-md-6 mt-md-0 mt-3 animated-up">
        <div class="row-1 animated-up">
          <p class="text animated-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div> 
    </div>
  </section>

  <section class="row">
    <div class="col-md-6 mt-md-0 mt-3">
        <div class="row-2">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="○inputGroup-sizing-lg">
            <button type="button" class="btn btn-success">Procurar</button>
          </div>
        </div> 
    </div>
  </section>

  <section class="row">
    <div class="col-md-6 mt-md-0 mt-3">
        <div class="row-3">
          <nav class="nav">
            <label class="label" for="">Mais Buscados:</label>
            <a class="nav-link" href="#">Node JS</a>
            <a class="nav-link" href="#">React JS</a>
            <a class="nav-link" href="#">SEO</a>
            <a class="nav-link" href="#">VUE JS</a>
        </div> 
    </div>
  </section>

  <section class="row">
    <div class="col-md-12 mt-md-0 mt-3">
        <div class="row-4">
          <p class="text1">As  Melhores Tecnologias.<br>
             Os Melhores desenvolvedores.</p>
        </div> 

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

        
    </div>
  </section>

</main>

<!-- <%- include('./partials/footer'); %> -->
</body>
</html>
