<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<main class="container animated-up">

  <section class="row">
    <div class="col-md-6 mt-md-0 mt-3 animated-up">
        <div class="row-1 animated-up">
          <p class="text animated-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div> 
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 mt-md-0 mt-3">
        <div class="row-2">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="○inputGroup-sizing-lg">
            <button type="button" class="btn btn-success">Procurar</button>
          </div>
        </div> 
    </div>
  </section>

  <section class="row">
    <div class="col-md-6 mt-md-0 mt-3">
        <div class="row-3">
          <nav class="nav">
            <label class="label" for="">Mais Buscados:</label>
            <a class="nav-link" href="#">Node JS</a>
            <a class="nav-link" href="#">React JS</a>
            <a class="nav-link" href="#">SEO</a>
            <a class="nav-link" href="#">VUE JS</a>
        </div> 
    </div>
  </section>

  <section class="row">
    <div class="col-md-12 mt-md-0 mt-3">
        <div class="row-4">
          <p class="text1">Os Melhores desenvolvedores</p>
        </div> 

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="programador"> 
                  <img src="../images/teste.jpg" class="teste">
                </div>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="programador"> 
                  <img src="../images/teste.jpg" class="teste">
                </div>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="programador"> 
                  <img src="../images/teste.jpg" class="teste">
                </div>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="programador"> 
                  <img src="../images/teste.jpg" class="teste">
                </div>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="programador"> 
                  <img src="../images/teste.jpg" class="teste">
                </div>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="programador"> 
                  <img src="../images/teste.jpg" class="teste">
                </div>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row-4">
          <p class="text1">As Melhores Tecnologias</p>
        </div> 
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section class="row" id="marketing">
    <div class="col-md-12 mt-md-0 mt-3">
        <div class="row-4">
          <p class="text1">Explore o Mercado</p>
        </div> 

        <div class="row">
          <div class="col-sm-3">
            <div class="explore">
              <div class="card-1">
                <div class="card-body1">
                  <a href="http://" class="link-explore">
                    <img src="../images/1.png" width="80px" class="img">
                      <p>Gráficos e Design</p>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="explore">
              <div class="card-1">
                <div class="card-body1">
                  <a href="http://" class="link-explore">
                    <img src="../images/2.png" width="80px" class="img">
                      <p>Marketing digital</p>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="explore">
              <div class="card-1">
                <div class="card-body1">
                  <a href="http://" class="link-explore">
                    <img src="../images/3.png" width="80px" class="img">
                      <p>Redação e tradução</p>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="explore">
              <div class="card-1">
                <div class="card-body1">
                  <a href="http://" class="link-explore">
                    <img src="../images/4.png" width="80px" class="img">
                      <p>Vídeo e Animação</p>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-12 mt-md-0 mt-3">
      <div class="row">
        <div class="col-sm-3">
          <div class="explore">
            <div class="card-1">
              <div class="card-body1">
                <a href="http://" class="link-explore">
                  <img src="../images/5.png" width="80px" class="img">
                    <p>Música e Áudio</p>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="explore">
            <div class="card-1">
              <div class="card-body1">
                <a href="http://" class="link-explore">
                  <img src="../images/6.png" width="80px" class="img">
                    <p>Programação e Tecnologia</p>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="explore">
            <div class="card-1">
              <div class="card-body1">
                <a href="http://" class="link-explore">
                  <img src="../images/7.png" width="80px" class="img">
                    <p>O negócio</p>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="explore">
            <div class="card-1">
              <div class="card-body1">
                <a href="http://" class="link-explore">
                <img src="../images/8.png" width="80px" class="img">
                  <p>Estilo de vida </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>

</main>

<!-- <%- include('./partials/footer'); %> -->
</body>
</html>
