<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<main class="container">
    <div class="container1">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="example@hotmail.com">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" size="70" id="formGroupExampleInput2" placeholder="password">
            </div>
            <div class="form-group">
              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <a href="#">Esqueceu sua Senha</a>
                </div>
              </div>
            </div>

            <div class="row justify-content-md-center">
              <button type="button"  class="btn btn-secondary">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</main>

  <!-- <%- include('./partials/footer'); %> -->
  </body>
</html>


