.container{
  padding-top: 10%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#E5E5E5;

}

a {
  color: #00B7FF;
}
p{
  font-weight: bold;
}
.logo {
  width: 150px;
  height: 75px;
  border-radius: 50px;
  right: 50%;
}

footer {
  height: 90px;
}

.bg-dark {
  background-color: #6C6C6C!important;
  /* height: 90px; */
}
.btn {
  background-color:#6BACA8;
  color: #ffff!important;
}

.page-min-height {
  height: calc(100vh - 100px);
}

.row-1{
  text-align: center;
  padding: 40% 0 5% 5%;
  align-items: center;
}
.row-2{
  padding: 0 0 5% 5%;
}
.row-3{
  padding: 0 0 55% 0%;
}
.label{
  padding: 8px;
}
.text{
  text-align: justify;
  font-size: 26px;
}
.text1{
  text-align: center;
  /* padding-left: 8%; */
  font-size: 26px;
  padding-bottom: 15%;
}
.col-sm-4{
  padding-bottom: 8%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f8f9fa;
}
.entrar{
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color:rgba(196, 196, 196, 0.8);
  border: 1px solid #ced4da;
  border-radius: .25rem;
  text-align: center;
}
.btn-secondary{
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
}